.App{
  margin: 20px;
}


.container{
  padding: 20px;
  display: flex;
  gap:20px;
}

input{
  width:300px;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  border: 1px solid grey;

}

button{
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(64, 103, 64);
  color: white;
  border: none;
  
}